@using Sbeap.Domain.ValueObjects
@model Sbeap.Domain.ValueObjects.IncompleteAddress?
@if (Model is null || Model == IncompleteAddress.EmptyAddress)
{
    <span class="text-muted">[Not entered]</span>
}
else
{
    @Model.OneLine
}
