@model DateTimeOffset?
@if (Model is null)
{
    <span class="text-body-secondary">[Not entered]</span>
}
else
{
    @Model.Value.ToString(Platform.Constants.DateTimeFormatConstants.LongDateTimeFormat)
}
