@using GaEpd.AppLibrary.Extensions
@using Sbeap.Domain.ValueObjects
@model ICollection<Sbeap.Domain.ValueObjects.PhoneNumber>
@if (Model.Count == 0 || Model.All(e => string.IsNullOrWhiteSpace(e.Number)))
{
    <div class="text-muted">none</div>
}
else
{
    @foreach (var item in Model)
    {
        @if (!string.IsNullOrWhiteSpace(item.Number))
        {
            <div>
                @item.Number
                @if (item.Type != null && item.Type != PhoneType.Unknown)
                {
                    <em>(@item.Type.Value.GetDisplayName())</em>
                }
            </div>
        }
    }
}
