@using Sbeap.Domain.Data
@model string?
@if (string.IsNullOrEmpty(Model))
{
    <span class="text-body-secondary">[Not entered]</span>
}
else
{
    @if (Regexes.EmailRegex().IsMatch(Model))
    {
        <a href="mailto:@Model">@Model</a>
    }
    else
    {
        @Model
    }
}
