@model DateOnly?

<div class="form-floating">
    <input asp-for="@__model" class="form-control" />
    <label asp-for="@__model" class="form-label"></label>
    <span asp-validation-for="@__model" class="invalid-feedback"></span>
</div>
