@using Sbeap.WebApp.Platform.Constants
@model object?
@{
    var items = (IEnumerable<SelectListItem>)ViewData["Items"]!;
}

<div class="form-floating">
    <select asp-for="@__model" asp-items="items" class="form-select">
        <option value="">@TextConstants.SelectTextRequired</option>
    </select>
    <label asp-for="@__model" class="form-label"></label>
</div>
