@model object?
@{
    var items = (IEnumerable<SelectListItem>)ViewData["Items"]!;
}

<div class="form-floating">
    <select asp-for="@__model" asp-items="items" class="form-select"></select>
    <label asp-for="@__model" class="form-label"></label>
</div>
