@model string
@{
    var rows = (int?)ViewData["Rows"] ?? 2;
}

<div class="form-floating">
    <textarea asp-for="@__model" class="form-control" rows="@rows.ToString()"></textarea>
    <label asp-for="@__model" class="form-label"></label>
    <span asp-validation-for="@__model" class="invalid-feedback"></span>
</div>
