@page "{id:Guid?}"
@model EditModel

@{
    ViewData["Title"] = $"Edit {EditModel.ThisOption.SingularName}";
}

<h1>Edit @EditModel.ThisOption.SingularName</h1>
<hr />

<h2>@Model.OriginalName</h2>

<div class="p-3 border rounded-3 bg-light">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
        <div class="mb-3">
            <div class="form-floating">
                <input asp-for="Item.Name" class="form-control" />
                <label asp-for="Item.Name" class="form-label"></label>
                <span asp-validation-for="Item.Name" class="invalid-feedback"></span>
            </div>
        </div>
        <div class="mb-3">
            <input asp-for="Item.Active" class="form-check-input" />
            <label asp-for="Item.Active" class="form-check-label"></label>
        </div>
        <div class="mt-3 mb-1">
            <input asp-for="Item.Id" type="hidden" /><input asp-for="OriginalName" type="hidden" />
            <button type="submit" class="btn btn-primary col-sm-3 me-2">Save Changes</button>
            <a asp-page="Index" class="btn btn-outline-secondary col-md-2">Cancel</a>
        </div>
        <div class="text-danger mt-3">* denotes a required field</div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
