@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger-emphasis">@ViewData["Title"]</h1>
<p class="lead">You do not have access to the requested page.</p>
