@page
@model UnavailableModel
@{
    ViewData["Title"] = "Account Unavailable";
}

<h1 class="text-danger-emphasis">@ViewData["Title"]</h1>
<p class="lead">This account is unavailable. Please contact support.</p>
