@page "{statusCode:int?}"
@model ErrorModel
@switch (Model.Status)
{
    case StatusCodes.Status404NotFound:
    {
        ViewData["Title"] = "Not Found";
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="lead">The page you're looking for could not be found.</p>
        break;
    }
    default:
    {
        ViewData["Title"] = "Error";
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="lead">An error occurred while processing your request.</p>
        break;
    }
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <p>
        If you need assistance related to this error, please
        <a href="https://gaepd.zendesk.com/">contact EPD IT support</a>.
    </p>
}
else
{
    <p>
        If you need assistance related to this error, please
        <a href="mailto:support@gaepd.zendesk.com">contact EPD IT support</a>.
    </p>
}
