/* Branding colors
-------------------------------------------------- */
.bg-brand {
    background-color: #671010;
}

.bg-brand a {
    color: #ffd5d5;
}

.bg-brand a:hover, .bg-brand a:focus {
    color: #ffb6b6;
}

.text-brand {
    color: #671010;
}

/* Adjust font sizing
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Fix color accessibility
-------------------------------------------------- */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.text-warning {
    color: rgb(150, 113, 0) !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/ /* Single height for one footer section */
    margin-bottom: 120px; /* Double height for two footer sections */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Header and nav bar
-------------------------------------------------- */
.img-logo {
    height: 60px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Skip to content link
-------------------------------------------------- */
.skip-nav {
    background: transparent;
    color: #212121;
    text-decoration: underline;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: -4.2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

.skip-nav:focus {
    background: #fff;
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
}

/* Button with image 
-------------------------------------------------- */
.btn-img {
    line-height: 1;
}

.btn-img img {
    height: 25px;
}

/* Additional font style utilities
-------------------------------------------------- */
.font-weight-medium {
    font-weight: 500 !important;
}

.text-pre-line {
    white-space: pre-line !important;
}

/* External links
-------------------------------------------------- */
a[target]::after {
    content: ' \1f5d7';
}

a[target].no-external-link::after {
    content: none;
}

/* Hover style for links with underline removed
-------------------------------------------------- */
a.text-decoration-none:hover {
    outline: 2px solid;
}

/* Banner for test site
-------------------------------------------------- */
.banner-test-site {
    position: sticky;
    top: 0;
    z-index: 1020;
    opacity: .9;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px white;
    background: repeating-linear-gradient(135deg, #f6da52bb, #f6da52bb 10px, #ffef80bb 10px, #ffef80bb 20px);
    box-shadow: inset 0 -3px 7px rgba(130, 106, 15, 0.37);
    padding: 1px 0;
}

:target {
    /* Prevent banner from covering up link target elements. 
       See: https://www.bram.us/2020/03/01/prevent-content-from-being-hidden-underneath-a-fixed-header-by-using-scroll-margin-top/ */
    scroll-margin-top: 1.5rem;
}

/* Print styles
-------------------------------------------------- */
@media print {
    .banner-test-site {
        position: static;
        text-shadow: none;
        box-shadow: none;
        border: 1px solid;
        margin-top: 1rem;
    }

    .banner-test-site::after {
        content: "— Not for public distribution";
    }
}

/* Anchor-JS
-------------------------------------------------- */
.anchorjs-link {
    transition: all .25s linear;
    /* See https://github.com/bryanbraun/anchorjs/pull/192 */
    margin-left: -1.25em !important;
    padding-left: .25em;
    padding-right: .25em !important;
}

*:hover > .anchorjs-link, .anchorjs-link:focus-visible {
    margin-left: -1.375em !important;
}

/* Fix for Bootstrap textarea with "floating" label
-------------------------------------------------- */
.form-floating > textarea.form-control {
    height: auto;
}

/* Validation summary
-------------------------------------------------- */
.validation-summary-valid {
    display: none;
}

.validation-summary-errors ul {
    margin-bottom: 0;
}

/* ==================================================
Application-specific styles
================================================== */
