/* Branding colors
-------------------------------------------------- */

/* Light mode theme colors */
.text-bg-brand {
    background-color: hsl(275, 73%, 23%);
    color: #fff;
}

.text-bg-brand a {
    color: hsl(275, 100%, 92%);
}

.text-bg-brand a:hover,
.text-bg-brand a:focus {
    color: hsl(275, 100%, 85%);
}

.text-bg-brand a:active {
    color: hsl(275, 100%, 95%);
}

.text-bg-brand .dropdown-item {
    color: hsl(275, 73%, 36%);
}

.text-bg-brand .dropdown-item:focus,
.text-bg-brand .dropdown-item:hover {
    color: hsl(275, 73%, 23%);
    background-color: hsl(275, 100%, 95%);
}

.text-bg-brand .dropdown-item.active,
.text-bg-brand .dropdown-item:active {
    color: hsl(275, 0%, 100%);
    background-color: hsl(275, 50%, 50%)
}

.text-bg-brand .nav-link {
    color: #fff;
}

.text-bg-brand .nav-link:hover,
.text-bg-brand .nav-link:focus {
    color: #fff;
}

.text-bg-brand .navbar-nav .nav-link.active,
.text-bg-brand .navbar-nav .nav-link.show {
    color: #fff;
}

.text-bg-brand .navbar-brand:focus-visible,
.text-bg-brand .nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem hsla(275, 10%, 100%, .57);
}

.text-bg-brand .navbar-toggler {
    color: hsla(275, 0%, 100%, 0.7);
    border-color: hsla(275, 0%, 100%, 0.15);
}

.text-bg-brand .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.65%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Dark mode theme colors */
[data-bs-theme="dark"] .text-bg-brand {
    background-color: hsl(275, 42%, 23%);
    color: #fff;
}

[data-bs-theme="dark"] .text-bg-brand a {
    color: hsl(275, 100%, 92%);
}

[data-bs-theme="dark"] .text-bg-brand a:hover,
[data-bs-theme="dark"] .text-bg-brand a:focus {
    color: hsl(275, 100%, 85%);
}

[data-bs-theme="dark"] .text-bg-brand a:active {
    color: hsl(275, 100%, 95%);
}

[data-bs-theme="dark"] .text-bg-brand .dropdown-item {
    color: hsl(275, 73%, 90%);
}

[data-bs-theme="dark"] .text-bg-brand .dropdown-item:focus,
[data-bs-theme="dark"] .text-bg-brand .dropdown-item:hover {
    color: hsl(275, 73%, 90%);
    background-color: hsl(210, 10%, 19%);
}

[data-bs-theme="dark"] .text-bg-brand .dropdown-item.active,
[data-bs-theme="dark"] .text-bg-brand .dropdown-item:active {
    color: #fff;
    background-color: rgb(13, 110, 253)
}

[data-bs-theme="dark"] .text-bg-brand .nav-link {
    color: #fff;
}

[data-bs-theme="dark"] .text-bg-brand .navbar-nav .nav-link.active,
[data-bs-theme="dark"] .text-bg-brand .navbar-nav .nav-link.show {
    color: #fff;
}

[data-bs-theme="dark"] .text-bg-brand .navbar-brand:focus-visible,
[data-bs-theme="dark"] .text-bg-brand .nav-link:focus-visible {
    box-shadow: 0 0 0 .25rem hsla(275, 10%, 100%, .57);
}

/* Adjust font sizing
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Fix color accessibility
-------------------------------------------------- */
[data-bs-theme="light"] .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

[data-bs-theme="light"] .text-warning {
    color: rgb(150, 113, 0) !important;
}

[data-bs-theme="light"] .text-danger-emphasis {
    color: rgb(220, 53, 69) !important;
}

[data-bs-theme="light"] .bg-dark-subtle .text-danger-emphasis {
    color: #7a010c !important;
}

/* Sticky footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /* margin-bottom: 60px;*/ /* Single height for one footer section */
    margin-bottom: 120px; /* Double height for two footer sections */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Nav bar logo
-------------------------------------------------- */
.img-logo {
    height: 40px;
}

/* Skip to content link
-------------------------------------------------- */
.skip-nav {
    left: .2rem;
    padding: 1rem 1.5rem;
    position: absolute;
    top: -4.2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

.skip-nav:focus {
    outline: 0;
    top: .2rem;
}

/* Button with image 
-------------------------------------------------- */
.btn-img {
    line-height: 1;
}

.btn-img img {
    height: 25px;
}

/* Additional font style utilities
-------------------------------------------------- */
.font-weight-medium {
    font-weight: 500 !important;
}

.text-pre-line {
    white-space: pre-line !important;
}

/* External links
-------------------------------------------------- */
a[target]::after {
    content: ' \1f5d7';
}

/* Suppress external link icon */
a[target].no-external-link::after {
    content: none;
}

/* Banner for test site
-------------------------------------------------- */
.banner-test-site {
    position: sticky;
    top: 0;
    z-index: 1020;
    opacity: .9;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px white;
    background: repeating-linear-gradient(135deg, #f6da52bb, #f6da52bb 10px, #ffef80bb 10px, #ffef80bb 20px);
    box-shadow: inset 0 -3px 7px rgba(130, 106, 15, 0.37);
    padding: 1px 0;
}

/* Prevent banner from covering up link target elements. 
   See: https://www.bram.us/2020/03/01/prevent-content-from-being-hidden-underneath-a-fixed-header-by-using-scroll-margin-top/ */
:target {
    scroll-margin-top: 1.5rem;
}

/* Card with details/summary
-------------------------------------------------- */
details.card:not([open]) summary.card-header {
    border-bottom: none;
}

/* Print styles
-------------------------------------------------- */
@media print {
    .banner-test-site {
        position: static;
        text-shadow: none;
        box-shadow: none;
        border: 1px solid;
        margin-top: 1rem;
    }

    .banner-test-site::after {
        content: "— Not for public distribution";
    }
}

/* Bootstrap Icons
-------------------------------------------------- */
.bi {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

/* Fix for Bootstrap textarea with "floating" label
-------------------------------------------------- */
.form-floating > textarea.form-control {
    height: auto;
}

/* Validation summary
-------------------------------------------------- */
.validation-summary-valid {
    display: none;
}

.validation-summary-errors ul {
    margin-bottom: 0;
}
