@using Microsoft.AspNetCore.Authorization
@using Sbeap.AppServices.AuthorizationPolicies
@using Sbeap.WebApp.Pages.Account
@inject IAuthorizationService AuthorizationService
@{
    var hideSignin = Model is LoginModel;
    var isActive = (await AuthorizationService.AuthorizeAsync(User, nameof(Policies.ActiveUser))).Succeeded;
    var isStaff = (await AuthorizationService.AuthorizeAsync(User, nameof(Policies.StaffUser))).Succeeded;
    var canViewMaintenance = (await AuthorizationService.AuthorizeAsync(User, nameof(Policies.AdministrationView))).Succeeded;
    var iconsFile = Url.Content("~/images/app-icons.svg");
}

<nav id="main-nav" class="navbar nav-underline navbar-expand-sm text-bg-brand bg-gradient border-bottom shadow-sm mb-3 d-print-none">
    <div class="container">
        <a asp-page="/Index" title="Small Business Environmental Assistance Program">
            <img src="~/images/epd-icon.svg" alt="Georgia EPD" class="img-logo me-2" />
        </a>
        <a class="navbar-brand nav-link me-0 pe-1" asp-page="/Index" title="Small Business Environmental Assistance Program">SBEAP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav-content"
                aria-controls="main-nav-content" aria-haspopup="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex" id="main-nav-content">
            <ul class="navbar-nav flex-grow-1">
                @if (isStaff)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Customers/Index">Customer<span class="d-none d-sm-inline d-md-none">s</span> <span class="d-inline d-sm-none d-md-inline">Search</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Customers/Add">New <span class="d-inline d-sm-none d-md-inline">Customer</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Cases/Index">Case<span class="d-none d-sm-inline d-md-none">s</span> <span class="d-inline d-sm-none d-md-inline">Search</span></a>
                    </li>
                }
            </ul>

            @if (isActive)
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" id="moreDropdownMenuLink" type="button"
                                data-bs-toggle="dropdown" aria-haspopup="menu" aria-expanded="false" title="View menu of additional options">
                            More
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" asp-page="/Admin/Users/Index">SBEAP Users</a>
                            </li>
                            @if (canViewMaintenance)
                            {
                                <li>
                                    <a class="dropdown-item" asp-page="/Admin/Maintenance/Index">Site Maintenance</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            }

            <ul class="navbar-nav">
                @if (isActive)
                {
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" id="accountDropdownMenuLink" type="button"
                                data-bs-toggle="dropdown" aria-haspopup="menu" aria-expanded="false" title="View account menu">
                            Account
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" asp-page="/Account/Index">Your profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form class="form-inline py-0 px-2" asp-page="/Account/Logout" method="post">
                                    <button type="submit" class="btn btn-outline-danger d-block w-100 px-4 py-2">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else if (!hideSignin)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Account/Login">Sign in</a>
                    </li>
                }
                <!-- Dropdown selector for color mode -->
                <li class="nav-item dropdown">
                    <button class="nav-link dropdown-toggle" id="bd-theme" type="button"
                            aria-haspopup="menu" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" title="Toggle theme">
                        <svg class="bi me-1 theme-icon-active">
                            <use href="@iconsFile#app-icon-circle-half"></use>
                        </svg>
                        <span class="ms-2 visually-hidden" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
                                <svg class="bi me-2 opacity-50">
                                    <use href="@iconsFile#app-icon-sun-fill"></use>
                                </svg>
                                Light
                                <svg class="bi ms-auto theme-checkmark d-none">
                                    <use href="@iconsFile#app-icon-check2"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                                <svg class="bi me-2 opacity-50">
                                    <use href="@iconsFile#app-icon-moon-stars-fill"></use>
                                </svg>
                                Dark
                                <svg class="bi ms-auto theme-checkmark d-none">
                                    <use href="@iconsFile#app-icon-check2"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                                <svg class="bi me-2 opacity-50">
                                    <use href="@iconsFile#app-icon-circle-half"></use>
                                </svg>
                                Auto
                                <svg class="bi ms-auto theme-checkmark d-none">
                                    <use href="@iconsFile#app-icon-check2"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
