@using Microsoft.AspNetCore.Authorization
@using Sbeap.AppServices.Permissions
@inject IAuthorizationService AuthorizationService
@{
    var isActive = (await AuthorizationService.AuthorizeAsync(User, PolicyName.ActiveUser)).Succeeded;
    var isLoggedIn = (await AuthorizationService.AuthorizeAsync(User, PolicyName.LoggedIn)).Succeeded;
    var isStaff = (await AuthorizationService.AuthorizeAsync(User, PolicyName.StaffUser)).Succeeded;
}
<nav id="main-nav" class="navbar navbar-expand-sm navbar-dark bg-brand border-bottom shadow-sm mb-3 d-print-none">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav-content"
                aria-controls="main-nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex" id="main-nav-content">
            <ul class="navbar-nav flex-grow-1 mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-page="/Index">Home</a>
                </li>
                @if (isStaff)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Customers/Index">Customer Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Customers/Add">New Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Cases/Index">Case Search</a>
                    </li>
                }
            </ul>

            @if (isActive)
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="moreDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="View menu of additional options">
                            More
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreDropdownMenuLink">
                            <li>
                                <a class="dropdown-item text-dark" asp-page="/Admin/Users/Index">SBEAP Users</a>
                            </li>
                            @if (isStaff)
                            {
                                <li>
                                    <a class="dropdown-item text-dark" asp-page="/Admin/Maintenance/Index">Site Maintenance</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            }

            <ul class="navbar-nav">
                @if (isLoggedIn)
                {
                    <li class="nav-item dropdown text-white">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="accountDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="View account menu">
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdownMenuLink">
                            <li>
                                <a class="dropdown-item text-dark" asp-page="/Account/Index">Your profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form class="form-inline py-0 px-2" asp-page="/Account/Logout" method="post">
                                    <button type="submit" class="btn btn-outline-danger d-block w-100 px-4 py-2">Sign out</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-page="/Account/Login">Sign in</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
