name: .NET Unit Tests

on:
  pull_request:

jobs:
  dotnet-test:
    # ↓ Change this to "false" to disable the workflow without any alert messages.
    if: ${{ true }}
    # ↑ Change to "true" (or delete) to enable the workflow.
    
    name: Run unit tests
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
        with:
          global-json-file: global.json

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal --report-spekt-nunit

      - name: Upload test result artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          path: _artifacts/bin/**/debug/TestResults/TestResults.xml

  publish-test-results:
    name: Publish test results
    needs: dotnet-test
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}

    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Download test result artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          path: test-results # destination folder

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f
        with:
          files: test-results/**/TestResults.xml
